<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.im.mapper.PrivatemessageMapper">

    <resultMap id="BaseResultMap" type="com.im.pojo.Privatemessage">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="senderId" column="sender_id" jdbcType="BIGINT"/>
            <result property="receiverId" column="receiver_id" jdbcType="BIGINT"/>
            <result property="context" column="context" jdbcType="VARCHAR"/>
            <result property="sendTime" column="send_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sender_id,receiver_id,
        context,send_time
    </sql>
</mapper>
